.sign-in {
  width: 50vh; 
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-top: 10px;
  
  & div:last-of-type {
    margin-bottom: 20px;
  }
}

.loginButtons {
  display: flex;
  flex-direction: row;
}